@keyframes homeImg {
  0% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes contentP {
  0% {
    font-size: 0%;
  }

  100% {
    font-size: 1.1rem;
  }
}
@keyframes contentH1 {
  0% {
    font-size: 0%;
  }

  100% {
    font-size: 6rem;
  }
}
@keyframes contentNAV {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


@keyframes slide-right {
	0% {
		transform: translateX(-60px);
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes slide-left {
	0% {
		transform: translateX(120px);
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes rotate-vert-center{0%{transform:rotateX(0)}100%{transform:rotate(360deg)}}

@keyframes scale-up-hor-center{0%{transform:scaleX(.4)}100%{transform:scaleX(1)}}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}


.position{
  animation: slide-right 1s;
}

.menu{
  animation: slide-left .7s;
}

.image-icon{
  animation: homeImg .7s;
}

body{
  animation: gradient 30s ease infinite;
}

body.darkmode{
  animation: gradient 30s ease infinite;
}