*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
   @font-face {
    font-family: 'CustomFont';
    src: url('Exo2-VariableFont_wght.ttf') format('truetype'),;

    font-family: 'Logo';
    src: url('Codec-Cold-Heavy-trial.ttf') format('truetype'),
  }
 
 /* COLOR OF WEBSITE */
  :root {
    --color: #9176FF;
    --light-color: linear-gradient(
      45deg,
      #f1f0e8,
      #adc4ce,
      #f1f0e8,
      #96b6c5);
    --light-icon-color: #eec008;
    --font-main-color: #252b48;
    --font-secondary-color: #96b6c5;
    --image-background-shadow: black;
   
  }
  .darkmode {
    --font-main-color: #96b6c5;
    --font-secondary-color: #252b48;
    --dark-icon-color: #fff;
    --dark-color: linear-gradient(
      45deg,
      #272829,
      #61677a,
      #272829,
      #61677a);
    --dark-color-back: #2b2b2b;
    --image-background-shadow: white;
    
  }
  /* DARKMODE TOGGLE BUTTON */
.btn{
    background-color: #ffffff3d;
    width: 6.5em;
    height: 3em;
    border-radius: 10em;
    padding: 0 0.5em; 
    box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
                inset 0 8px 8px rgba(0,0,0, .1),
                inset 0 -4px 4px rgba(0,0,0, .1);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .btn__indicator{
    background-color: #fff;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
  
    position: absolute;
  
    box-shadow: 0 8px 50px rgba(0,0,0, .2);
  
    transition: transform .3s ease;
  }
  
  .btn__icon-container{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn__icon{
    color: var(--light-icon-color);
    font-size: 1rem;
  }
  
  /* ANIMATION */
  .btn__icon.animated{
    animation: spin 0.5s;
  }
  
  /*  DARKMODE  */
  
  .darkmode .btn{
    box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
                inset 8px 0 8px rgba(0,0,0, .3),
                inset 0 -4px 4px rgba(0,0,0, .3);
  }
  
  .darkmode .btn__indicator{
    transform: translateX(3em);
    background-color: var(--dark-color-back);
    box-shadow: 0 8px 40px rgba(0,0,0, .3);
  }
  
  .darkmode .btn__icon{
    color: var(--dark-icon-color);
  }
  /* PARENT OF FONT */
  html {
    font-size: 16px;
  
  }
  /* BODY */
  body {
    --color1: #ffffff94 ;
    --color2: #181818 ;
    background: var(--light-color);
    background-size: 800% 800%;
    background-attachment: fixed;
    animation: gradient 30s ease infinite;
    overflow: auto;
    
    
  
  }
  
  body.darkmode{
    --color1: #ffffff94 ;
    --color2: #181818 ;
    background: var(--dark-color);
    background-size: 800% 800%;
    background-attachment: fixed;
    overflow: auto;
    overflow-x: hidden;
  }
  /* LOGO AND NAVBAR */
  
  
  
  .nav-bar {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 10px 100px;

    
  }


  .position{
    width: 10%;
    position: relative;
    left: 8%; 
    text-decoration: none;
  }

  .nav-bar li a {
    text-decoration: none;
    font-family: 'CustomFont', sans-serif;
  }



  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20%;
    
    
}

.line {
    width: 7px;
    height: 70px;
    background-color: var(--font-main-color); 
    transform: rotate(45deg);
    position: absolute;
    border-radius: 30%;
    
}

.line:nth-child(2) {
    transform: rotate(-45deg);
}

.line:nth-child(3) {
    transform: rotate(90deg);
}

.line:nth-child(4) {
    transform: rotate(-90deg);
}
.line:nth-child(5) {
    transform: rotate(0deg);
}

.logo-h1{
  font-family: 'Logo', sans-serif;
  font-size: 4rem;
  color: transparent;
  letter-spacing: -2px;
  -webkit-text-stroke: 2px var(--font-main-color);
  position: relative;
  padding: 10px 0px 0px 20px;
  left: 50%;
}

span{
  color: var(--font-main-color);
  -webkit-text-stroke: transparent;
}

  
  

  .menu {
    display: flex;
    align-items: center;
    
  }
  
  .menu li {
    list-style: none;
    display: inline-block;
    
    margin: 0 20px;
    bottom: 30px;
    position: relative;
    
  }
  
  
  
  .menu li a {
    text-decoration: none;
    color: var(--font-main-color);
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: 'CustomFont', sans-serif;
    
  }
  .menu li a::after {
    content: "";
    height: 3px;
    width: 0;
    background: #00000059;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
  }
  .menu li a:hover:after {width: 100%;}
  .open-menu , .close-menu {
    position: absolute;
    color: var(--color2);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
  }
  .open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    visibility: hidden;
  }
  .close-menu {
    top: 20px;
    right: 20px;
    visibility: hidden; 
   
  }
  /* CONTENT OF HOME */
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    position: relative;
    width: 70%;  
    left: 12%;
    top: 100px;

    
  }
   
  .pic{
    width: 30rem;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.322);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, .6);
    position: relative;
    
  }
  
  .image-icon{
    width: 70%;
    max-width: 100%;
    position: relative;
    left: 20%;
  }

  .icon{
    text-align: center;
    width: 100%;
    transform:translateY(50%);
    
  }

  .icon a{
    color: var(--font-main-color);
    margin: 0px 15px 0px 15px;
  }
  
  .content {
   max-width: 100%;
   position: relative;
   height: auto;
   font-size: 16px;
   font-family: 'CustomFont', sans-serif;
    text-align: center;
    color: var(--font-main-color);
    
   
  }
  .content h2 {
    font-size: 2rem; 
    margin-top: 90px; 
    font-family: 'CustomFont', sans-serif;
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
  }
  .content h1 {
    font-size: 5rem; 
    line-height: calc(5rem + 1vw);
    font-family: "CustomFont", sans-serif;
    animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both
  }
  
  .content p {
    font-size: 1.2rem;
    margin: 10px 10% 0px;
    font-weight: bolder;
    font-family: "CustomFont", sans-serif;
    animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both
  }
  
  button {
    width: 200px;
    max-width: 100%;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 3px solid var(--font-main-color);
    border-radius: 25px;
    background: transparent;
    color: var(--font-main-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: "CustomFont", sans-serif;
    font-size: 1.3rem;
    animation:scale-up-hor-center .4s cubic-bezier(.39,.575,.565,1.000) both
  }

  #button{
    text-decoration: none;
  }
  
  .spans{
    background: var(--font-main-color);
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
  }
  
  button:hover span {
    width: 100%;
  }
  
  button:hover {
    border: none;
    color: var(--font-secondary-color);
  }

  /* About me Content */
  .about-heading{
    width: 100%;
    position: relative;
    text-align: center;
    top: 60px;
    color: var(--font-main-color);
    overflow: hidden;
    white-space: nowrap;
    
    
  }
  
  .about-heading h1{
    font-size: 6em; 
    font-family: "CustomFont", sans-serif;
  }
  .aboutme{
    
    color: var(--font-main-color);
    width: 100%;
    max-width: 70%;
    position: absolute;
    top: 40%;
    left: 25%;
    white-space: normal;
    text-align: justify;
  }
  
  .aboutme li{
  list-style-type: circle;  
  font-size: 2rem;
  font-weight: bold;
  
  }
  
  
  .aboutme p{
    margin-bottom: 100px;
    margin-top: 20px;
    margin-right: 20%;
    font-size: 1.5rem;
    white-space: normal;
    width: 70%;
    letter-spacing: normal;
    }
    .resume-link {
      text-decoration: none; 
      color: inherit; 
      position: relative;
      
    }
  /* Project Content */

  
  
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 85%;
    text-align: center;
    position: relative;
    left: 7.5%;


    
  }
  
  
  .item {
    position: relative;
    overflow: hidden;
    width: 550px;
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    cursor: pointer;
    top: 6rem;
    border-radius: 50px;
    border: 4px solid #18181800;
    box-shadow: 10px 10px 50px black;
    animation:scale-up-hor-center .6s cubic-bezier(.39,.575,.565,1.000) both
  }
  
  .item img{
    width: 550px;
    height: 300px;
  }
  .item:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  
  .item:hover .overlay {
    opacity: 1;
  }
  
  
  .overlay h3 {
    margin: 0;
    font-size: 2.5rem;
    font-family: "CustomFont", sans-serif;
  }
  
  .overlay p {
    margin: 5px 0;
    position: relative;
    font-family: "CustomFont", sans-serif;
    font-size: 1.3rem;
    padding: 10px;
  }
  
  .project-heading {
    width: 100%;
    position: relative;
    top: 80px;
    text-align: center;
    color: var(--font-main-color);
    margin-bottom: 30px;
    
  }
  
  .project-heading h1{
    font-size: 6.5rem;
    font-family: "CustomFont", sans-serif;
    animation: myAnim 1s ease 0s 1 normal forwards; 
  }

  /* CSS FOR CONTACT */

  .container-contact{
    background-color: #cacaca;
    width: 100%;
    height: 786px;
  }

  .contact-box{
    background-color: #ffffff;
    width: 20rem;
    height: 20rem;
  }


/* MEDIA FOR HAMBURGER MENU */
  @media (max-width: 1330px) {

    .home {
        
        grid-template-columns: repeat(1, 1fr);
        
      }


      

      .nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        padding: 0px 0px;
        
      }

      
  
      .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: fixed; 
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--font-secondary-color);
        transition: all 0.2s ease-in-out;
        height: 100vh; 
        overflow-y: auto; 
        
      }
    
      .menu.opened {
        right: 0;
      }
    
      .menu-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6); 
        z-index: 99; 
      }
    
      .menu li {
        margin-top: 40px;
        top: 30px;
        
      }

      
    
      .menu li a {
        padding: 10px;
        color: var(--font-main-color);
        font-family: 'CustomFont', sans-serif;
      }
    
      .open-menu, .close-menu {
        display: block;
        color: var(--font-main-color);
        position: absolute;
        top: 20px;
        right: 40px;
        z-index: 101;
        visibility: visible;
      }
    
      #check:checked ~ .menu {
        right: 0;
      }
    
      #check:checked ~ .menu-overlay {
        display: block;
      }
      
      
  
  }


  /* BIG MOBILE SIZE */
  @media (max-width:480px) {

    html{
      font-size: 9px;
    }

   
    .logo{
      width: 100%;
      
    }

    .line{
      width: 5px;
      height: 50px;
    }


    body{
      width: 100%;
    }

   
    .icon{
      transform: translateY(1000%);
      width: 145%;
      right: 10%;
      position: relative;
      
    }

    .home{
      left: 15%;
      
     
    }
   
    .image-box img {
      left: 10%;
      margin-bottom: 10px;
    }
  

    button{
      max-width: 39%;
    }

    .image-icon{
      left: 8%;
      height: 77%;
      bottom: 60%;
      
    }


    .content{
      max-width: 100%;
      position: relative;
      bottom: 60%;
    }

    .aboutme{
      max-width: 100%;
      text-align: left;
      left: 0%;
      top: 35%;
    }

    .about-heading{
      top: 0%;
    }

    .aboutme p{
      margin-bottom: 50px;
      margin-left: 15%;
    }

    .aboutme li{
      margin-left: 15%;
      
      }

    .item{
      height: 160px;
      top: 70px;
    }

    .item img{
      width: 300px;
      height: 160px;
    }

    .grid{
      width: 90%;
      left: 5%;
      top: 100%;
      gap: 25px;

    }

    .project-heading {
      width: 100%;
      position: relative;
      top: 50px;
      text-align: center;
      color: var(--font-main-color);
      
    }

    
    


  }
  /* TABLET SIZE */
  @media (max-width:768px ) and (min-width:481px ){

    html{
      font-size: 12px;
    }

   
    .logo{
      width: 85%;
      max-width: 100%;
    }

    .line{
      width: 5px;
      height: 50px;
    }

    body{
      width: 100%;
    }

    .home {
      left: 15%;
      top: 0%;
    }
    

    .icon{
      transform: translateY(1000%);
      position: relative;
      right: 10%;
      width: 120%;
    }
   
   

    button{
      max-width: 40%;
      font-size: 1rem;
    }

    .image-icon{
      left: 15%;
      height: 77%;
      top: 10%;
    }

    .content{
      width: 100%;
      position: relative;
      
      bottom: 10%;
    }
    .aboutme{
      max-width: 100%;
      left: 15%;
      top: 35%;
    }

    .aboutme p{
      margin-bottom: 50px;
    }

    .item{
      height: 200px;
      width: 400px;
      top: 70px;
    }

    .grid{
      width: 90%;
      left: 5%;
      top: 100%;

    }
    .item img{
      width: 400px;
      height: 200px;
    }

    .project-heading {
      width: 100%;
      position: relative;
      top: 50px;
      text-align: center;
      color: var(--font-main-color);
      
    }

    

    

  }
  /*  */
  @media (max-width:1024px ) and (min-width:769px ){ 
  
    html{
      font-size: 12px;
    }

    .line{
      width: 5.5px;
      height: 55px;
    }
  
    .logo{
      width: 90%;
      max-width: 100%;
    }
   
    .image-icon{
      width: 70%;
      position: relative;
      left: 15%;
    }

    .pic{
      left: 10%;
    }

  

    button{
      max-width: 35%;
    }

    .content{
      max-width: 80%;
      position: relative;
      left: 10%;
      bottom: 10%;
    }

    .aboutme{
      max-width: 100%;
      left: 15%;
      top: 30%;
    }

  }
  /* NORMAL SIZE */
  @media (max-width:1200px ) and (min-width:1025px ){
        
    html{
      font-size: 14px;
    }

    .line{
      width: 6px;
      height: 60px;
    }
    .logo{
      width: 100%;
      max-width: 95%;
    }

    .image-icon{
      width: 70%;
      position: relative;
      left: 15%;
    }

    .pic{
      
      left: 10%;
    }

    

    button{
      max-width: 40%;
    }
    
    .content{
      max-width: 100%;
    }
    .aboutme{
      max-width: 100%;
      left: 15%;
      top: 35%;
    }
  }
  /* MOHNITOR SIZE */
  @media (max-width:1330px ) and (min-width:1201px ){
     
    html{
      font-size: 16px;
    }

    .line{
      width: 6.5px;
      height: 65px;
    }
  
    .logo{
      width: 100%;
      max-width: 100%;
    }
    
    .image-icon{
      width: 70%;
      position: relative;
      left: 15%;
      margin-bottom: 20px;
    }
   
    button{
      max-width: 40%;
    }

    .pic{
      left: 10%;
    }
    
    .content{
      position: relative;
      bottom: 45%;
    }
    
    .home{
      grid-gap: 100px;
    }

    .aboutme{
      max-width: 70%;
      
    }

    
    
  }

